.cta{
	text-align: center;
	.h2{
		text-shadow: 0 0 60px  rgba(0, 0, 0, 0.46);
		margin-bottom: remy(14);
	}
		
	.subtitle{
		text-shadow: 0 0 20px  rgba(0, 0, 0, 0.5);
		max-width: remy(420);
		margin: 0 auto;
		margin-bottom: remy(16);
	
	}
	.slider-content__title{padding-bottom: remy(41);}
	.swiper-pagination{bottom: remy(26)}
}