//====== CTA ======
section.cta
	//======== slider ===========
	.slider-content
		//====== header-title =====
		.slider-content__title
			h2.h2 Become more&nbsp;than you&nbsp;are.
			p.subtitle Staying active is great fun and keeps you healthy. Check out how you can join in.
			
			a(href="#!").btn Let’s do it!
		
		//====== headerSwiper =====
		.swiper.cta-slider
			.swiper-wrapper
				//====== single slide ======
				.swiper-slide
					.swiper__item
						img(src="./img/cta-slide.webp", alt="img" loading="lazy")
				//====== single slide ======
				.swiper-slide
					.swiper__item
						img(src="./img/header-slide2.webp", alt="img" loading="lazy")
				//====== single slide ======
				.swiper-slide
					.swiper__item
						img(src="./img/header-slide3.webp", alt="img" loading="lazy")
				
			
			.swiper-pagination