//======cta-slider ======
section.cta
	.swiper.cta-slider
		.swiper-wrapper
			//====== single slide ======
			.swiper-slide
				.cta-slider__item(style="background-image: url(./img/cta-slide.webp)")
		
		//====== pagination ======
		.swiper-pagination