$text: #252525;
$sec1: #424242;
$sec2: #858585;
$sec3: #D2D2D2;
$sec4: #EDEDED;

$ac: #E43071;
$subAc:#FFC1D8;
$outBr: #FFDAE7;

$footerBg:rgb(11, 13, 23);
$footerText: #d9dbe1;

// $ac: #26D68A;
// $subAc: #9BE8C7;